@model long_term_care.Models.CaseCareRecord

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除</h1>

<h3>資料刪除後無法復原,確定要刪除嗎?</h3>
<div>
    <h4>CaseCareRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseHealth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseHealth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseHome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseTime1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseTime1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseQ1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseQ1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseQ1Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseQ1Other)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseQ2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseQ2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseQ2Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseQ2Other)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseQ3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseQ3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseQ3Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseQ3Other)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseQ4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseQ4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseQ4Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseQ4Other)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNoNavigation.CaseNo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemS.MemSid)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CaseQaid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
