@model IEnumerable<long_term_care.Models.CaseCareRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CaseTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseHealth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseTime1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseQ1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseQ1Other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseQ2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseQ2Other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseQ3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseQ3Other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseQ4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseQ4Other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseNoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseHealth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseTime1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseQ1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseQ1Other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseQ2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseQ2Other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseQ3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseQ3Other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseQ4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseQ4Other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseNoNavigation.CaseNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemS.MemSid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CaseQaid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CaseQaid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CaseQaid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
