@model IEnumerable<long_term_care.Models.CaseInfor>

<ul>
    @foreach (var item in Model)
    {
        <li onclick="selectPerson('@item.CaseNo', '@item.CaseName', '@item.CaseIdcard')">
            @item.CaseNo, @item.CaseName, @item.CaseIdcard
        </li>
    }
</ul>

<script>
    function selectPerson(caseNo, caseName, caseIdcard) {
        $("#CaseNo").val(caseNo);
        $("#CaseName").val(caseName);
        $("#CaseIDcard").val(caseIdcard);

        $("#searchResults").html("");
    }
</script>
