@model IEnumerable<long_term_care.Models.CaseInfor>
<ul id="resultList">
    @foreach (var item in Model)
    {
        <li class="result-item" onclick="selectPerson('@item.CaseNo', '@item.CaseName', '@item.CaseIdcard')">
            @item.CaseNo |  @item.CaseName | @item.CaseIdcard
        </li>
    }
</ul>


