@using long_term_care.Controllers;
@model long_term_care.Models.MemSign

@{
    ViewData["Title"] = "Create";
}

<h1>志工簽到</h1>


<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="MemSignQaid" class="control-label"></label>
                <input asp-for="MemSignQaid" class="form-control" type="text" value="@ViewBag.MemSignQaid" readonly />
                @*<input asp-for="MemSignQaid" class="form-control" readonly value="@Model.MemSignQaid" />*@
                <span asp-validation-for="MemSignQaid" class="text-danger"></span>
            </div>

            
            

            <div class="form-group col-md-4">
                <label asp-for="MemSid" class="control-label"></label>
                <select asp-for="MemSid" class="form-control" asp-items="ViewBag.MemSid"></select>
            </div>
            <br />
            <div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.MemTelTime1)
                    @Html.TextBoxFor(m => m.MemTelTime1, new { @class = "form-control", type = "datetime", @readonly = "readonly" }  )
                    <button type="button" class="btn btn-outline-success" onclick="recordSignInTime()">點擊簽到</button>
                </div>
            </div>
            <br />
            <div class="form-group ">
                <div class="col-md-12">
                    <label asp-for="MemRecord" class="control-label"></label>
                    @Html.TextArea("MemRecord", new { @class = "form-control" })
                    <span asp-validation-for="MemRecord" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div>
                <div class="col-md-4 g-3">
                    @Html.LabelFor(m => m.MemTelTime2)
                    @Html.TextBoxFor(m => m.MemTelTime2, new { @class = "form-control", type = "datetime", @readonly = "readonly" })
                    <button type="button" class="btn btn-outline-success" onclick="recordSignOutTime()">點擊簽退</button>
                </div>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script>
        function recordSignInTime() {
            var signInTimeField = document.getElementById("MemTelTime1");
            signInTimeField.value = new Date().toLocaleString();
        }

        function recordSignOutTime() {
            var signOutTimeField = document.getElementById("MemTelTime2");
            signOutTimeField.value = new Date().toLocaleString();
        }
        
        
    </script>
}

@section topCSS {
    <style type="text/css">
        h1 {
            font-size: 36px;
            text-align: center;
        }

        body {
            background-color: #CBE9EA;
        }
    </style>
}


