@model long_term_care.Models.CasePhysicalMental

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除</h1>

<h3>資料刪除後無法復原,確定要刪除嗎?</h3>
<div>
    <h4>CasePhysicalMental</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseLive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseLive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseFre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseFre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent12)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent12)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseContent13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseContent13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNoNavigation.CaseNo)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CaseQaid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
