@model long_term_care.Models.CaseDailyRegistration

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除</h1>

<h3>資料刪除後無法復原,確定要刪除嗎?</h3>
<div>
    <h4>CaseDailyRegistration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Casedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Casedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseTemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseTemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasePluse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasePluse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseSystolic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseSystolic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseDiastolic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseDiastolic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseBlood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseBlood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasePick)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasePick)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNoNavigation.CaseNo)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CaseContId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
