@model long_term_care.Models.CaseDailyRegistration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaseDailyRegistration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseDailyTime1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseDailyTime1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseDailyTime2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseDailyTime2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseTemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseTemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasePluse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasePluse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseCont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseCont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseRem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseRem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasePick)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasePick)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseRegTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseRegTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNoNavigation.CaseNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemS.MemSid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CaseContId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
