@model IEnumerable<long_term_care.Models.CaseDailyRegistration>


@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/OperationPage.css" asp-append-version="true" />

<div class="wrap">
    <button class="Home" onclick="location.href='@Url.Action("MemMainpage", "Main")'">首頁</button>
</div>
<div class="wrap_Entry">
    <button class="Edit" onclick="location.href='@Url.Action("PerformSearch", "CaseDailyRegistrations")'">填寫</button>

    <br />

    <button class="View" onclick="location.href='@Url.Action("Details", "CaseDailyRegistrations")'">查閱</button>

</div>

@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Casedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CasePluse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseBlood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CasePick)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseNoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Casedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CasePluse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseBlood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CasePick)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseNoNavigation.CaseNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CaseContId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CaseContId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CaseContId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

*@