@model long_term_care.Models.CaseTelRecord

@{
    ViewData["Title"] = "Create";
}

<h1>C 單位巷弄長照站電話問安</h1>

@*<h4>CaseTelRecord</h4>*@
<hr />
<div class="row ">

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row align-items-start">
            <div class="form-group col-md-4">
                <label asp-for="CaseTelQaid" class="control-label"></label>
                <input asp-for="CaseTelQaid" class="form-control" />
                <span asp-validation-for="CaseTelQaid" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CaseNo" class="control-label"></label>
                <select asp-for="CaseNo" class="form-control" asp-items="ViewBag.CaseNo"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CaseRegTime" class="control-label"></label>
                <input asp-for="CaseRegTime" type="month" class="form-control" />
                <span asp-validation-for="CaseRegTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="CaseSick" class="control-label"></label>
            <input asp-for="CaseSick" class="form-control" />
            <span asp-validation-for="CaseSick" class="text-danger"></span>
        </div><br>
        <p>
            請於 □中勾選符合今日電話問安結果最適合的描述選項。
        </p>

        <div class="box">
            <div class="row align-items-start">
                <div class="form-group col-md-4">
                    <label asp-for="CaseDay" class="control-label"></label>
                    <input asp-for="CaseDay" type="text" class="form-control" />
                    <span asp-validation-for="CaseDay" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="CaseTelTime1" class="control-label"></label>
                    <input asp-for="CaseTelTime1" type="time" class="form-control" />
                    <span asp-validation-for="CaseTelTime1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="CaseTelTime2" class="control-label"></label>
                    <input asp-for="CaseTelTime2" type="time" class="form-control" />
                    <span asp-validation-for="CaseTelTime2" class="text-danger"></span>
                </div>

            </div>
            <div class="row g-2">
                <div class="form-group">
                    <div class="col-md-12">
                        <label asp-for="CaseAns" class="control-label"></label>
                        @Html.RadioButtonFor(model => model.CaseAns, "親自接聽")親自接聽
                        @Html.RadioButtonFor(model => model.CaseAns, "親友接聽")親友接聽
                        @Html.RadioButtonFor(model => model.CaseAns, "無人接聽")無人接聽
                        @Html.RadioButtonFor(model => model.CaseAns, "電話故障")電話故障
                    </div>

                    <span asp-validation-for="CaseAns" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label asp-for="CaseExp" class="control-label"></label>
                        @Html.RadioButtonFor(model => model.CaseExp, "表達清晰")表達清晰
                        @Html.RadioButtonFor(model => model.CaseExp, "表達尚可")表達尚可
                        @Html.RadioButtonFor(model => model.CaseExp, "口語不清")口語不清
                        @Html.RadioButtonFor(model => model.CaseExp, "無法表達")無法表達
                    </div>
                    <span asp-validation-for="CaseExp" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label asp-for="CaseHea" class="control-label"></label>
                        @Html.RadioButtonFor(model => model.CaseHea, "健康良好")健康良好
                        @Html.RadioButtonFor(model => model.CaseHea, "表達尚可")表達尚可
                        @Html.RadioButtonFor(model => model.CaseHea, "按時用藥")按時用藥
                        @Html.RadioButtonFor(model => model.CaseHea, "定期門診")定期門診
                    </div>
                    <span asp-validation-for="CaseHea" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label asp-for="CaseLive" class="control-label"></label>
                        @Html.RadioButtonFor(model => model.CaseLive, "三餐定時")三餐定時
                        @Html.RadioButtonFor(model => model.CaseLive, "餐不定時")餐不定時
                        @Html.RadioButtonFor(model => model.CaseLive, "餐與活動")餐與活動
                        @Html.RadioButtonFor(model => model.CaseLive, "極少外出")極少外出
                    </div>
                    <span asp-validation-for="CaseLive" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label asp-for="CaseFam" class="control-label"></label>
                        @Html.RadioButtonFor(model => model.CaseFam, "常有互動")常有互動
                        @Html.RadioButtonFor(model => model.CaseFam, "偶有互動")偶有互動
                        @Html.RadioButtonFor(model => model.CaseFam, "很少互動")很少互動
                        @Html.RadioButtonFor(model => model.CaseFam, "從不互動")從不互動
                    </div>
                    <span asp-validation-for="CaseFam" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label asp-for="CaseMental" class="control-label"></label>
                        @Html.RadioButtonFor(model => model.CaseMental, "精神愉快")精神愉快
                        @Html.RadioButtonFor(model => model.CaseMental, "尚可")尚可
                        @Html.RadioButtonFor(model => model.CaseMental, "精神不佳")精神不佳
                        @Html.RadioButtonFor(model => model.CaseMental, "輕生念頭")輕生念頭
                    </div>
                    <span asp-validation-for="CaseMental" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label asp-for="CaseCom" class="control-label"></label>
                        @Html.RadioButtonFor(model => model.CaseCom, "好")好
                        @Html.RadioButtonFor(model => model.CaseCom, "尚可")尚可
                        @Html.RadioButtonFor(model => model.CaseCom, "不好")不好
                    </div>
                    <span asp-validation-for="CaseCom" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="MemSid" class="control-label"></label>
                    <select asp-for="MemSid" class="form-control" asp-items="ViewBag.MemSid"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="提交" class="btn btn-primary" />
        </div>
    </form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@section topCSS {
    <style type="text/css">
        h1 {
            font-size: 36px;
            text-align: center;
        }

        .box {
            padding: 10px;
            margin: 10px;
            border: black solid 2px;
            border-radius: 20px;
        }

        body {
            background-color: #CBE9EA;
        }
    </style>
}