@model long_term_care.Models.CaseTelRecord

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除</h1>

<h3>資料刪除後無法復原,確定要刪除嗎?</h3>
<div>
    <h4>電話問安</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseRegTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseRegTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseSick)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseSick)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseTelTime1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseTelTime1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseTelTime2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseTelTime2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseAns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseAns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseHea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseHea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseLive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseLive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseFam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseFam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseMental)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseMental)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseCom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseCom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNoNavigation.CaseNo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemS.MemSid)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CaseTelQaid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
