@model IEnumerable<long_term_care.Models.CaseTelRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CaseRegTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseSick)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseTelTime1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseTelTime2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseAns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseHea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseLive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseFam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseMental)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseCom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseNoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseRegTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseSick)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseTelTime1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseTelTime2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseAns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseHea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseLive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseFam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseMental)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseCom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseNoNavigation.CaseNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemS.MemSid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CaseTelQaid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CaseTelQaid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CaseTelQaid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
