@model long_term_care.Models.CaseNeed

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaseNeed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseRead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseRead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseFami)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseFami)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseCons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseCons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseSpeak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseSpeak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseAct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseAct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseMed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseMed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseSee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseSee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseHear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseHear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseEat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseEat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseCare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseCare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseView1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseView1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseView2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseView2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseView3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseView3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseView4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseView4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseView5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseView5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseView6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseView6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseView7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseView7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseView8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseView8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseView9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseView9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNoNavigation.CaseNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CaseNeedId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
