@using long_term_care.ViewModels;
@model NeedSearchResultViewModal


<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-button {
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex; 
        justify-content: flex-start;
    }

    .table-container {
        display: table;
        width: 100%;
    }

    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
        padding: 5px;
        vertical-align: top;
    }

    .question {
        text-align: left;
        font-weight: bold;
    }

    .answer {
        margin-left: 10px;
    }

    .back-link {
        margin-top: 20px;
    }

    a {
        color: #5C9DF7;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s ease;
    }

        a:hover {
            color: #7caef5;
        }
</style>

<div class="container">
    <h1>社區長者需求調查</h1>

    <div class="section-button">
        <button type="button" class="btn btn-secondary">基本資料</button>
    </div>

    <div class="table-container">
        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(modelItem => modelItem.CaseRead)</div>
            <div class="table-cell answer">@Html.DisplayFor(model => model.CaseRead)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(modelItem => modelItem.CaseFami)</div>
            <div class="table-cell answer">@Html.DisplayFor(model => model.CaseFami)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(modelItem => modelItem.CaseCons)</div>
            <div class="table-cell answer">@Html.DisplayFor(model => model.CaseCons)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(modelItem => modelItem.CaseSpeak)</div>
            <div class="table-cell answer">@Html.DisplayFor(model => model.CaseSpeak)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(modelItem => modelItem.CaseAct)</div>
            <div class="table-cell answer">@Html.DisplayFor(model => model.CaseAct)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(modelItem => modelItem.CaseMed)</div>
            <div class="table-cell answer">@Html.DisplayFor(model => model.CaseMed)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(modelItem => modelItem.CaseSee)</div>
            <div class="table-cell answer">@Html.DisplayFor(model => model.CaseSee)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(modelItem => modelItem.CaseHear)</div>
            <div class="table-cell answer">@Html.DisplayFor(model => model.CaseHear)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(modelItem => modelItem.CaseEat)</div>
            <div class="table-cell answer">@Html.DisplayFor(model => model.CaseEat)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(modelItem => modelItem.CaseCare)</div>
            <div class="table-cell answer">@Html.DisplayFor(model => model.CaseCare)</div>
        </div>
    </div>

    <div class="section-button">
        <button type="button" class="btn btn-secondary">問卷內容</button>
    </div>

    <div class="table-container">
        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(model => model.CaseView1)</div>
            <div class="table-cell answer">@Html.DisplayFor(modelItem => modelItem.CaseView1)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(model => model.CaseView2)</div>
            <div class="table-cell answer">@Html.DisplayFor(modelItem => modelItem.CaseView2)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(model => model.CaseView3)</div>
            <div class="table-cell answer">@Html.DisplayFor(modelItem => modelItem.CaseView3)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(model => model.CaseView4)</div>
            <div class="table-cell answer">@Html.DisplayFor(modelItem => modelItem.CaseView4)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(model => model.CaseView5)</div>
            <div class="table-cell answer">@Html.DisplayFor(modelItem => modelItem.CaseView5)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(model => model.CaseView6)</div>
            <div class="table-cell answer">@Html.DisplayFor(modelItem => modelItem.CaseView6)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(model => model.CaseView7)</div>
            <div class="table-cell answer">@Html.DisplayFor(modelItem => modelItem.CaseView7)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(model => model.CaseView8)</div>
            <div class="table-cell answer">@Html.DisplayFor(modelItem => modelItem.CaseView8)</div>
        </div>

        <div class="table-row">
            <div class="table-cell question">@Html.DisplayNameFor(model => model.CaseView9)</div>
            <div class="table-cell answer">@Html.DisplayFor(modelItem => modelItem.CaseView9)</div>
        </div>


    </div>


    <button type="button" id="printButton" class="btn btn-primary" onclick="generatePDF()">生成 PDF</button>

    <div class="back-link">
        <a asp-action="Details">返回</a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>
<script>
    function generatePDF() {
        var container = document.querySelector('.container');

        var options = {
            filename: 'document.pdf',
            jsPDF: { format: 'a4' },
            html2canvas: { scale: 2 },
            margin: 3
        };

        html2pdf().set(options).from(container).save();
    }
</script>

