@model long_term_care.Models.CaseInfor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaseInfor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseUnitName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseUnitName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseUnitNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseUnitNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseIdcard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseIdcard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasePassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasePassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseRelig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseRelig)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseBd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseBd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseLang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseLang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseWork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseProf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseProf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseEdu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseEdu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseAddr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseAddr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseHouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseHouse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseIdent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseIdent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseFund)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseFund)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseHealth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseHealth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseActv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseActv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseFactly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseFactly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseMari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseMari)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseCnta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseCnta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseCntTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseCntTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseCntRel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseCntRel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseCntAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseCntAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseFami)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseFami)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseQues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseQues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseRegName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseRegName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseRegTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseRegTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CaseNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
