@model long_term_care.Models.CarPick

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CarPick</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarSearchY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarSearchY)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarSearchM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarSearchM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarCaseAdr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarCaseAdr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseCont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseCont.CaseContId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemS.MemSid)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CarId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
