@model long_term_care.Models.CarPick

@{
    ViewData["Title"] = "Details";
}

@using (Html.BeginForm("Details", "CarPicks", FormMethod.Post))
{
    <div class="container">
        <div class="insideBox">
            <h3>交通接送清冊資料查詢</h3>
            <h5><span>請輸入長者編號</span></h5>
            <div class="content">
                @Html.TextBox("CaseNo", null, new { placeholder = "長者編號" })
                <h5><span>請選擇搜尋月份</span></h5>
                <div class="content">
                    <input type="month" name="CarSearch" id="CarSearch" placeholder=" 年 月">
                    <button type="submit">查詢</button>
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">返回</a>
        </div>
    </div>
}



@section topCSS {
    <style type="text/css">
        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            background-color: #F3F3F3;
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: #FFFFFF;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            margin: 0 auto;
            padding: 40px;
            margin-top: 100px;
        }

        .insideBox {
            background-color: #F1FFFF;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
        }

        h3 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            color: #333333;
        }

        h5 {
            font-size: 16px;
            font-weight: normal;
            color: #666666;
            margin-bottom: 10px;
        }

        span {
            color: #A9A5A5;
        }

        .content {
            margin-top: 20px;
            text-align: center;
        }

        input {
            border: 1px solid #A9A5A5;
            border-radius: 8px;
            padding: 10px;
            width: 100%;
            margin-bottom: 10px;
        }

            input:focus {
                outline: none;
                border-color: #5C9DF7;
            }

        button {
            border-radius: 8px;
            background-color: #5C9DF7;
            color: #FFFFFF;
            border: none;
            padding: 12px 24px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            button:hover {
                background-color: #7caef5;
            }

        a {
            color: #5C9DF7;
            text-decoration: none;
            font-size: 16px;
            transition: color 0.3s ease;
        }

            a:hover {
                color: #7caef5;
            }
    </style>
}

@*
<h1>Details</h1>
<div>
    <h4>CarPick</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarSearchY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarSearchY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarSearchM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarSearchM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarCaseAdr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarCaseAdr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarPrice)
        </dd>
        
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemS.MemSid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@